body, table, tr, th, td, span, div {font-family:Verdana;}
body {font-size:0.8em; background-color: #FFFFFF;}
a {color:#333399; text-decoration:none;}
a:hover {background-color:#DDDDDD;}
h1 {font-size:1.8em;}
h2 {font-size:1.5em;}
h3 {background-color: #FFEECC; font-size:1.2em; margin-top:2.5em}
h4 {font-size:1.1em;}
h5 {background-color: #D0E8E8; margin-bottom:5pt; font-size:1em;}
sup {color:red;font-family:MS Sans Serif; font-weight:bold;}
table {font-size:1em; border: 1px solid #1F1F1F; border-collapse: collapse;}
td {border: 1px solid #1F1F1F; padding: 1px 5px 1px 5px;}
th {border: 1px solid #1F1F1F;padding: 1px 5px 1px 5px; background:#CCEEFF; color:#000080; text-align:left;}
tr,td {margin:5px;}
code {font-family:Courier New; color:#000080;}
tt {font-family:Courier New;}
td.topmenu {text-align:center; font-size:0.7em;}

.S0 {color: #808080;}
.S1 {font-family: Comic Sans MS;color: #007F00;}
.S10 {font-weight: bold;color: #000000;}
.S100 {color: blue; }
.S12 {font-family: Courier New;color: #000000;background: #E0C0E0;}
.S13 {font-family: Courier New;color: #007F00;background: #E0FFE0;}
.S14 {font-family: Courier New;color: #3F7F3F;background: #E0F0FF;}
.S15 {font-family: Comic Sans MS;color: #3F703F;}
.S2 {font-family: Comic Sans MS;color: #007F00; }
.S2 {font-family: Comic Sans MS;color: #007F00;}
.S3 {font-family: Comic Sans MS;color: #3F703F;}
.S4 {color: #007F7F;}
.S5 {font-weight: bold;color: #00007F;}
.S6 {color: #7F007F;}
.S7 {color: #7F007F;}
.S8 {color: #804080;}
.S9 {color: #7F7F00;}
.desc {color:#333399; font-size:0.8em;}
.gtkonly { background: #FFFFE7; }
.name {font-family:Courier; color:#993300;}
.windowsonly { background: #E7EFFF; }
.ruboardonly { background: #FFECFF; }

h3 {
	border: 2px solid #FFCC00;
	background-color: #FFF7EE;
	padding: 2px 5px;
}

h4 {
	background-color: #000000;
	color: #FFFFFF;
	padding: 2px 6px;
}

.example {
	color: #00A000;
	font-weight: bold;
}
DIV.example {
	background: #F7FCF7;
	border: 1px solid #C0D7C0;
	margin: 0.3em 3em;
	padding: 0.3em 0.6em;
}
DIV.highlighted {
	background: #F7FCF7;
	border: 1px solid #C0D7C0;
	margin: 0.3em 3em;
	padding: 0.3em 0.6em;
}

