body {font-family:verdana; font-size:x-small; background-color: #FFFFFF;}
a {color:#333399; text-decoration:none;}
a:hover {background-color:#DDDDDD;}
h1 {color:#000080; font-size:small;}
h3 {background-color: #FFEECC;}
h5 {background-color: #D0E8E8; margin-bottom:5pt;}
sup {color:red;font-family:MS Sans Serif; font-weight:bold;}
table {border: 1px solid #1F1F1F; border-collapse: collapse; }
td { border: 1px solid #1F1F1F; padding: 1px 5px 1px 5px; }
th {border: 1px solid #1F1F1F;padding: 1px 5px 1px 5px;background:#CCEEFF; color:#000080; font-size:x-small; text-align:left;}
tr,td {font-family:verdana; font-size:x-small; margin:5px;}
code {font-family:Courier New; font-size:small; color:#000080;}
tt {font-family:Courier New; font-size:x-small}

.S0 {color: #808080;}
.S1 {font-family: Comic Sans MS;color: #007F00;font-size: 9pt;}
.S10 {font-weight: bold;color: #000000;}
.S100 {color: blue; }
.S12 {font-family: Courier New;color: #000000;background: #E0C0E0;font-size: 10pt;}
.S13 {font-family: Courier New;color: #007F00;background: #E0FFE0;font-size: 10pt;}
.S14 {font-family: Courier New;color: #3F7F3F;background: #E0F0FF;font-size: 10pt;}
.S15 {font-family: Comic Sans MS;color: #3F703F;font-size: 9pt;}
.S2 {font-family: Comic Sans MS;color: #007F00;font-size: 9pt; }
.S2 {font-family: Comic Sans MS;color: #007F00;font-size: 9pt;}
.S3 {font-family: Comic Sans MS;color: #3F703F;font-size: 9pt;}
.S4 {color: #007F7F;}
.S5 {font-weight: bold;color: #00007F;}
.S6 {color: #7F007F;}
.S7 {color: #7F007F;}
.S8 {color: #804080;}
.S9 {color: #7F7F00;}
.desc {color:#333399; font-size:xx-small;}
.gtkonly { background: #FFFFE7; }
.name {font-family:Courier; color:#993300;}
.windowsonly { background: #E7EFFF; }
SPAN {font-family: Verdana;font-size: 10pt;}

        h3 {
            border: 2px solid #FFCC00;
            background-color: #FFF7EE;
            padding: 2px 5px;
        }

h4 {
	background-color: #000000;
	color: #FFFFFF;
	padding: 2px 6px;
}

.example {
	color: #00A000;
	font-weight: bold;
}
DIV.example {
	background: #F7FCF7;
	border: 1px solid #C0D7C0;
	margin: 0.3em 3em;
	padding: 0.3em 0.6em;
	font-size: 80%;
}
DIV.highlighted {
	background: #F7FCF7;
	border: 1px solid #C0D7C0;
	margin: 0.3em 3em;
	padding: 0.3em 0.6em;
	font-size: 80%;
}

